@model FormFillerCore.Common.Models.FullFormModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>


@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FormModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            @Html.LabelFor(model => model.FormModel.FormName, htmlAttributes: new { @class = "form-label col-md-auto" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FormModel.FormName)
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.DataType.DataType, htmlAttributes: new { @class = "form-label col-md-auto"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DataType.DataType)
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.FormModel.TempFile, htmlAttributes: new { @class = "form-label col-md-auto" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FormModel.TempFile, new { type = "file", name = "formfile" })
                @Html.ValidationMessageFor(model => model.FormModel.TempFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update FormFile" class="btn btn-primary" />
            </div>
        </div>
        <div class="mb-3">
            <div id="editview">
                @{
                    var dmodel = new FormFillerCore.Common.Models.FormDetailModel();

                    dmodel.DataMap = Model.DataMap;

                    dmodel.FormFields = ViewBag.FormFields;

                    <partial name="CreateDataMapItem" model="dmodel" ></partial>
                }
               
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
         <script type="text/javascript">
                               $(document).ready(function () {
                                   $("#btnAddMapItem").click(function (e) {

                                       var dobject = $("#ddlFobject option:selected").val();
                                       var fobject = $("#txtDobject").val();
                                       var cval = $("#txtCheckVal").val();
                                       var rep = $("#chkRepeat").is(":checked");
                                       var item = $("#txtItem").val();
                                       var calc = $("#chkCalc").is(":checked");
                                       var expr = $("#txtExpr").val();

                                       var data = JSON.stringify({
                                           DataMapID: '',
                                           FormDataTypeID: @ViewBag.DataType,
                                           FormObject: dobject.trim(),
                                           DataObject: fobject.trim(),
                                           CheckValue: cval.trim(),
                                           Repeatable: rep,
                                           ItemCount: item.trim(),
                                           Calculated: calc,
                                           Expression: expr
                                       });
                                       e.preventDefault();
                                       $.ajax({
                                           type: "POST",
                                           url: "@Url.Action("AddMapItem", "Home")",
                                           data: { ditem: data },
                                           dataType: "json",
                                           success: function (data) {
                                               var frm = '@Url.Action("LoadEdit", "Home", new { formid = "-1" })';
                                               frm = frm.replace("-1", data.data);
                                               console.log(frm);
                                               $("#editview").load(frm);
                                           }
                                       });
                                   });
                                   $("#btnAutoMap").click(function (e) {
                                       e.preventDefault();
                                       $.ajax({
                                           type: "POST",
                                           url: "@Url.Action("AutoMapItems","Home")",
                                           data: { did: @ViewBag.DataType },
                                           dataType: "json",
                                           success: function (data) {
                                               var frm = '@Url.Action("LoadEdit", "Home", new { formid = "-1" })';
                                               frm = frm.replace("-1", data.data);
                                               console.log(frm);
                                               $("#editview").load(frm);
                                           }
                                       });
                                   });
                                   $(".select-link").click(function (e) {
                                       var id = $(this).attr('data-mapid');
                                       e.preventDefault
                                       $.ajax({
                                           type: "POST",
                                           url: "@Url.Action("DeleteMapItem","Home")",
                                           data: { MapID: id },
                                           dataType: "json",
                                           success: function (data) {
                                               var frm = '@Url.Action("LoadEdit", "Home", new { formid = "-1" })';
                                               frm = frm.replace("-1", data.data);
                                               console.log(frm);
                                               $("#editview").load(frm);
                                           }
                                       });
                                   });
                               });
    </script>
    }
